html {
    background: radial-gradient(black 25%, #131021 100%);
    color: white;
}

body {
    margin: 0;
    font-family: 'texfont', sans-serif;
    font-size: 40px;
    cursor: none;
    user-select: none;
}

.filter-button {
    margin: 0;
}

#logo-img {
    width: 300px;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#control-panel {
    position: absolute;
    bottom: 0;
    left: 0;
}

#about {
    position: absolute;
    bottom: 0;
    right: 0;
}

#tip {
    position: absolute;
    top: 0;
    right: 0;
}

.ui-element {
    filter: drop-shadow(0 0 10px black);
    margin: 30px;
}