

html {
    background: radial-gradient(black 25%, #131021 100%);
}

body {
    margin: 0;
    font-family: 'texfont', sans-serif;
    font-size: 40px;
    cursor: none;
    user-select: none;
}

.filter-button {
    margin: 0;
}

#sidebar {
    position: absolute;
    width: 20%;
    height: 100%;
    text-align: left;
    z-index: 100;
    background: linear-gradient(90deg, rgba(19,16,33,1) 0%, rgba(16,29,33,0) 100%);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    width: 100%;
}

.sidebar-element {
    margin: 30px;
}